apiVersion: apps/v1
kind: Deployment
metadata:
  name: public-ingress-controller
  namespace: ingress-public
spec:
  replicas: 3
  selector:
    matchLabels:
      app.kubernetes.io/name: ingress-nginx
      app.kubernetes.io/component: controller
  template:
    metadata:
      labels:
        app.kubernetes.io/name: ingress-nginx
        app.kubernetes.io/component: controller
    spec:
      serviceAccountName: ingress-nginx
      containers:
        - name: controller
          image: registry.k8s.io/ingress-nginx/controller:v1.11.1
          args:
            - /nginx-ingress-controller
            - --ingress-class=public-nginx
            - --controller-class=k8s.io/ingress-nginx
            - --watch-ingress-without-class=false
            - --configmap=$(POD_NAMESPACE)/public-ingress-controller-config
            - --enable-ssl-passthrough
          env:
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
          ports:
            - name: http
              containerPort: 80
            - name: https
              containerPort: 443

