apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: private-ingress-controller
  namespace: ingress-private
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: ingress-nginx
      app.kubernetes.io/component: controller
  template:
    metadata:
      labels:
        app.kubernetes.io/name: ingress-nginx
        app.kubernetes.io/component: controller
    spec:
      hostNetwork: true
      serviceAccountName: ingress-nginx
      dnsPolicy: ClusterFirstWithHostNet
      containers:
        - name: controller
          image: registry.k8s.io/ingress-nginx/controller:v1.11.1
          args:
            - /nginx-ingress-controller
            - --ingress-class=private-nginx
            - --controller-class=k8s.io/ingress-nginx
            - --watch-ingress-without-class=false
            - --publish-service=$(POD_NAMESPACE)/private-ingress-service
            - --tcp-services-configmap=$(POD_NAMESPACE)/tcp-services
          env:
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
          ports:
            - name: http
              containerPort: 80
            - name: https
              containerPort: 443
